.react-calendar {
  width: 100%;
}

.react-calendar__navigation {
  height: 75px;
  background-color: steelblue;
}

.react-calendar__navigation button {
  font-size: 15px;
  font-weight: bold;
  color: #fafafa;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: cadetblue;
}

button.react-calendar__navigation__label {
  font-size: 18px;
}

.react-calendar__month-view__weekdays {
  font-size: 0.9em;
  border-bottom: 1px solid #666;
}

button.react-calendar__tile {
  text-align: left;
  position: relative;
  height: 150px;
  max-height: 175px;

  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}

/* Adjust the borders of marginal tiles */

button.react-calendar__tile:nth-of-type(7n) {
  border-right: 0;
}

button.react-calendar__tile:nth-of-type(n+29):nth-last-child(n+1) {
  border-bottom: 0;
}

.react-calendar__tile abbr {
  position: absolute;
  top: 5px;
  left: 5px;
}

.react-calendar__month-view__days__day {
  font-size: 0.85em;
}

.react-calendar__tile button.addReminder__button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
  line-height: 1em;
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 15px;
}

/* Modal */

.ReactModalPortal > div {
  /* Start of the loading process */
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}


.modal {
  background-color: #464b5e;
  color: #fff;
  max-width: 30rem;
  padding: 3.2rem;
  outline: none;
  text-align: center;
}

.modal__title,
.modal__body {
  margin: 0 0 1.6rem 0;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  word-break: break-all;
}
