.container {
  text-align: left;
  margin: 0 auto;
  max-width: 80%;
}

header {
  background-color: beige;
  padding: 10px;
}

header nav:after {
  content: "";
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  float: left;
  padding-right: 15px;
}

main {
  padding: 10px;
}